flexWrap(direction = row,
	value,
	justify-content = flex-start,
	align-items = stretch)

	display flex
	flex-direction direction
	flex-wrap: value;
	justify-content justify-content
	align-items align-items